[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
alembic = "*"
Click = "*"
entrypoints = "*"
Flask = "*"
Flask-Cors = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
itsdangerous = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
mccabe = "*"
psycopg2-binary = "*"
pycodestyle = "*"
pydf = "*"
pyflakes = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
python-pdf = "*"
six = "*"
SQLAlchemy = "*"
Werkzeug = "*"
passlib = "*"
flask-compress = "*"

[requires]
python_version = "3.6"
